<?php

declare(strict_types=1);

return [
  'BASE_PATH' => '',
  'SITE_URL' => 'https://aplicacionweb.cl',
  'TO_EMAIL' => 'contacto@aplicacionweb.cl',
  'FROM_EMAIL' => 'contacto@aplicacionweb.cl',
  'FROM_NAME' => 'Aplicación Web',
  'BCC_EMAILS' => '',
];
